<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Création de notification
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <label class="label">
                Rechercher un produit
              </label>
              <input class="input" type="text" [(ngModel)]="searchString" (ngModelChange)="searchProducts()">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2" *ngFor="let product of dataProducts">
        <div class="card card_new">
          <div class="card-content">
            <div class="content has-text-centered">
              <button (click)="setInfoProduct(product)" data-open="modalInfoProduct" class="button primary"><i class="fa fa-info"></i></button>
              <button (click)="addExistingProduct(product)" class="button primary"><i class="fa fa-plus"></i></button>
              <p>{{ product.name }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="card card_new">
          <div class="card-content">
            <div class="content has-text-centered">
              Nouveau Produit
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Produit ajouté</p>
          </header>
          <div class="card-content">
            <div class="content">
              <div *ngFor="let product of products" class="columns medium-2 large-2 callout card_existing">
                <button (click)="setInfoProduct(product)" data-open="modalInfoProduct"  class="button primary"><i class="fi-info"></i></button>
                <button (click)="removeProduct(product)" class="button primary"><i class="fi-minus"></i></button>
                <p>{{ product.name }}</p>
              </div>
              <p *ngIf="products.length == 0">Aucun produit ajouté</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row" *ngIf="products.length > 0">
  <div class="callout columns large-12 medium-12 small-12">
    <label>
      Rechercher un effet indésirable
      <input type="text" [(ngModel)]="searchEffectString" (ngModelChange)="searchEffects()">
    </label>
    <div *ngFor="let effect of dataEffects" class="columns medium-2 large-2 callout card_existing">
      <button (click)="addExistingEffect(effect)" class="button primary"><i class="fi-plus"></i></button>
      <p>{{ effect.description }}</p>
    </div>
    <div data-open="addEffect" class="columns medium-2 large-2 callout card_new">Nouvel effet</div>
  </div>
</div>

<div class="row" *ngIf="products.length > 0">
  <div class="callout columns large-12 medium-12 small-12">
    <h3>Effet ajouté</h3>
    <div *ngFor="let effect of effects" class="columns medium-2 large-2 callout card_existing">
      <button (click)="removeEffect(effect)" class="button primary"><i class="fi-minus"></i></button>
      <p>{{ effect.description }}</p>
    </div>
    <p *ngIf="effects.length == 0">Aucun effet ajouté</p>
  </div>
</div>

<div class="row" *ngIf="effects.length > 0 && products.length > 0">
  <div class="callout columns large-12 medium-12 small-12">
    <div class="row">
      <div class="columns large-3 medium-3">
        <label>
          Choisissez votre code département
          <select [(ngModel)]="code">
            <option *ngFor="let c of regionsCode">{{ c.code }}</option>
          </select>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="effects.length > 0 && products.length > 0">
  <button class="button primary" (click)="saveNotif()">Terminez</button>
</div>

<div class="reveal" id="addEffect" data-reveal>
  <h1>Nouvel effet</h1>
  <div class="row">
    <label>
      Description
      <textarea [(ngModel)]="searchEffectString"></textarea>
    </label>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <button class="button primary" data-close type="button" (click)="addEffect()" [disabled]="searchEffectString.length == 0">
      Validez
    </button>
  </div>
</div>

<div class="tiny reveal" id="modalInfoProduct" data-reveal>
  <h1>{{ infoProduct.name }}</h1>
  <h4>Liste des ingrédients :</h4>
  <ol>
    <li *ngFor="let ingredient of infoProduct.ingredients">{{ ingredient.name }}</li>
  </ol>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <button class="button primary" data-close type="button">
      Fermer
    </button>
  </div>
</div>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Nouveau produit</h1>
  <div class="row">
    <label>
      Nom du produit
      <input type="text" [(ngModel)]="searchString">
    </label>
  </div>
  <div class="row">
    <label>
      Nom de l'ingrédient
      <input type="text" [(ngModel)]="searchIngredient" (keyup.enter)="addIngredient()" (ngModelChange)="searchIngredients()">
    </label>
    <small *ngIf="this.searchIngredient.length > 0">Appuyez sur entrer si vous ne voyez pas l'ingrédient voulu dans la liste proposée</small>
    <small *ngIf="this.ingredients.length == 0">Vous devez ajouter au moins un ingrédient</small>
  </div>

  <div class="row">
    <p *ngIf="dataIngredients.length > 0"><small>Nouvel ingrédient : (cliquez pour ajouter l'ingrédient)</small>
      <span class="label add-tag tag" *ngFor="let ingredient of dataIngredients" (click)="addExistingIngredient(ingredient)">
        {{ ingredient.name }}
      </span>
    </p>
  </div>
  <div class="row">
    <p *ngIf="ingredients.length > 0" ><small>Ingrédient ajouté : (cliquez pour supprimer l'ingrédient)</small>
      <span class="label added-tag tag" *ngFor="let ingredient of ingredients" (click)="removeIngredient(ingredient)">
        {{ ingredient.name }}
      </span>
    </p>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <button class="button primary" data-close type="button" (click)="addProduct()" [disabled]="ingredients.length == 0">
      Validez
    </button>
  </div>
</div>
