<div class="row">
  <h2>Ajouter une notification</h2>
  <h3>Rechercher un produit</h3>
  <div class="row">
    <input type="text" [(ngModel)]="searchString" (ngModelChange)="searchProducts()">
  </div>
  <div class="row">
    <div *ngFor="let product of dataProducts" class="columns medium-3 large-3 callout card_existing">
      <button data-open="exampleModal1"  class="button primary"><i class="fi-info"></i></button>
      <button (click)="addExistingProduct(product)" class="button primary"><i class="fi-plus"></i></button>
      <p>{{ product.name }}</p>
    </div>
    <div data-open="exampleModal1" class="columns medium-3 large-3 callout card_new"></div>
  </div>
</div>
<div class="row">
  <h3>Produit ajouté</h3>
  <div class="row">
    <div *ngFor="let product of products" class="columns medium-3 large-3 callout card_existing">
      <button data-open="exampleModal1"  class="button primary"><i class="fi-info"></i></button>
      <button (click)="removeProduct(product)" class="button primary"><i class="fi-minus"></i></button>
      <p>{{ product.name }}</p>
    </div>
  </div>
</div>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Nouveau produit</h1>
  <div class="row">
    <label>
      Nom du produit
      <input type="text" [(ngModel)]="searchString">
    </label>
  </div>
  <div class="row">
    <label>
      Nom de l'ingrédient
      <input type="text" [(ngModel)]="searchIngredient" (keyup.enter)="addIngredient()" (ngModelChange)="searchIngredients()">
    </label>
    <small *ngIf="this.searchIngredient.length > 0">Appuyez sur entrer si vous ne voyez pas l'ingrédient voulu dans la liste proposée</small>
  </div>
  <div class="row">
    <p *ngIf="dataIngredients.length > 0"><small>Nouvel ingrédient : (cliquez pour ajouter l'ingrédient)</small>
      <span class="label add-tag tag" *ngFor="let ingredient of dataIngredients" (click)="addExistingIngredient(ingredient)">
        {{ ingredient.name }}
      </span>
    </p>
  </div>
  <div class="row">
    <p *ngIf="ingredients.length > 0" ><small>Ingrédient ajouté : (cliquez pour supprimer l'ingrédient)</small>
      <span class="label added-tag tag" *ngFor="let ingredient of ingredients" (click)="removeIngredient(ingredient)">
        {{ ingredient.name }}
      </span>
    </p>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <button class="button primary" data-close type="button" (click)="addProduct()">
      Validez
    </button>
  </div>
</div>
