<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Détail de l'effet indésirable
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <p>
                <strong>Description : </strong> {{ effect.description }}
              </p>
              <p>
                <strong>Nombre de notification : </strong> {{ effect.nbNotifications }}
              </p>
              <p>
                <strong>Niveau : </strong> {{ effect.level }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
