<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Cosmos EI</li>
      <li><a href="#" routerLink="/">Accueil</a></li>
      <li>
        <a href="#">One</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="" routerLink="/newAE">Nouvel effet indésirable</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" *ngIf="!isConnected()">
      <li><a href="" routerLink="/register" class="button secondary">S'inscrire</a></li>
      <li><a href="" routerLink="/log" type="button" class="button">Se connecter</a></li>
    </ul>
    <ul class="menu" *ngIf="isConnected()">
      <li><a href="" routerLink="/search" class="button"><i class="fi-magnifying-glass"></i></a></li>
      <li><a href="" routerLink="" class="button"><i class="fi-power"></i></a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<footer>

</footer>
