<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Connexion
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="columns">
                <div class="column">
                  <label class="label">Nom d'utilisateur
                  </label>
                  <p class="control">
                    <input type="text" [(ngModel)]="login" name="login" class="input">
                  </p>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <label class="label">Mot de passe
                  </label>
                  <p class="control">
                    <input class="input" type="password" [(ngModel)]="password" name="password">
                  </p>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <button type="button" class="button is-primary" (click)="log()">connexion</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
