<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Accueil
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Les Effets les plus reportés
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <table class="table">
                <thead>
                <tr>
                  <th width="140">Nb. notification</th>
                  <th>Description</th>
                  <th class="text-center">Niveau</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let effect of mostReportedEffects">
                  <td><span class="tag is-primary">{{ effect.nbNotifications }}</span></td>
                  <td class="text-left">{{ effect.description }}</td>
                  <td>{{ effect.level }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Les Effets les plus lourds
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <table class="table">
                <thead>
                <tr>
                  <th width="140">Nb. notification</th>
                  <th>Description</th>
                  <th class="text-center">Niveau</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let effect of heaviestEffects">
                  <td><span class="tag is-primary">{{ effect.nbNotifications }}</span></td>
                  <td class="text-left">{{ effect.description }}</td>
                  <td>{{ effect.level }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
