<div class="row">
  <div class="large-12 columns">
    <h1>Accueil</h1>
  </div>
</div>
<div class="row">
  <div class="columns medium-12 large-12 small-12">
    <div class="callout text-center">
      <h3>Les Effets les plus reportés</h3>
        <table class="hover hide-for-small-only">
          <thead>
          <tr>
            <th width="50"></th>
            <th>Description</th>
            <th>Niveau</th>
            <th width="100"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let effect of mostReportedEffects">
            <td><span class="badge">{{ effect.nbNotifications }}</span></td>
            <td>{{ effect.description }}</td>
            <td>{{ effect.level }}</td>
            <td><span class="label">Nouveau !</span></td>
          </tr>
          </tbody>
        </table>
      <table class="hover scroll show-for-small-only">
        <thead>
        <tr>
          <th width="50"></th>
          <th>Description</th>
          <th>Niveau</th>
          <th width="100"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let effect of mostReportedEffects">
          <td><span class="badge">{{ effect.nbNotifications }}</span></td>
          <td>{{ effect.description }}</td>
          <td>{{ effect.level }}</td>
          <td><span class="label">Nouveau !</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns medium-12 large-12 small-12">
    <div class="callout text-center">
      <h3>Les Effets les plus lourds</h3>
      <table class="hover hide-for-small-only">
        <thead>
        <tr>
          <th width="50"></th>
          <th>Description</th>
          <th>Niveau</th>
          <th width="100"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let effect of heaviestEffects">
          <td><span class="badge">{{ effect.nbNotifications }}</span></td>
          <td>{{ effect.description }}</td>
          <td>{{ effect.level }}</td>
          <td><span class="label">Nouveau !</span></td>
        </tr>
        </tbody>
      </table>
      <table class="hover scroll show-for-small-only">
        <thead>
        <tr>
          <th width="50"></th>
          <th>Description</th>
          <th>Niveau</th>
          <th width="100"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let effect of heaviestEffects ">
          <td><span class="badge">{{ effect.nbNotifications }}</span></td>
          <td>{{ effect.description }}</td>
          <td>{{ effect.level }}</td>
          <td><span class="label">Nouveau !</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
