<div class="row">
  <h2>S'inscrire</h2>
  <div class="row" *ngIf="password != password2 || login.length < 6 || password.length < 6
                          || password2.length < 6 || lastname.length == 0 || firstname.length == 0">
    <div class="columns large-12 medium-12 small-12">
      <div class="alert callout small">
        <h5>Erreur</h5>
        <p *ngIf="login.length < 6">Le nom d'utilisateur doit faire minimum 6 caractère</p>
        <p *ngIf="firstname.length == 0">Le prénom est obligatoire</p>
        <p *ngIf="lastname.length == 0">Le nom est obligatoire</p>
        <p *ngIf="password != password2">Les mots de passe doivent &ecirc;tre identique</p>
        <p *ngIf="password.length < 6 || password2.length < 6">Le mot de passe doit faire minimum 6 caractère</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-offset-2 large-8 medium-offset-2 medium-8 small-12">
      <div class="callout">
        <h3>Inscription</h3>
        <form (ngSubmit)="register() : password == password2 && login.length >= 6 && password.length >= 6
                          && password2.length >= 6 && lastname.length > 0 && firsttname.length > 0">
          <div class="row">
            <div class="medium-12 columns">
              <label>Nom d'utilisateur
                <input type="text" [(ngModel)]="login" name="login">
              </label>
            </div>
            <div class="medium-12 columns">
              <label>Nom
                <input type="text" [(ngModel)]="lastname" name="login">
              </label>
            </div>
            <div class="medium-12 columns">
            <label>Prénom
                <input type="text" [(ngModel)]="firstname" name="login">
              </label>
            </div>
            <div class="medium-12 columns">
              <label>Mot de passe
                <input type="password" [(ngModel)]="password" name="password">
              </label>
            </div>
            <div class="medium-12 columns">
              <label>Valider le mot de passe
                <input type="password" [(ngModel)]="password2" name="password2">
              </label>
            </div>
            <div class="medium-12 columns">
              <button type="submit" class="button">s'inscrire</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
